<div class="container">
  <h1>Angular - Day 3</h1>
  <mat-nav-list>
      <a mat-list-item class="horizontal" role="navigation" [routerLink]="['/home']" routerLinkActive="active">Home</a>
      <a mat-list-item class="horizontal" role="navigation" [routerLink]="['/actors']" routerLinkActive="active">Actor List</a>
      <a mat-list-item class="horizontal" role="navigation" [routerLink]="['/pipes']" routerLinkActive="active">Pipe Demo</a>
      <a mat-list-item class="horizontal" role="navigation" [routerLink]="['/abcd']" routerLinkActive="active">Not Found</a>
   </mat-nav-list>
   <mat-grid-list cols="4" rowHeight="1">
      <mat-grid-tile>1</mat-grid-tile>
      <mat-grid-tile>2</mat-grid-tile>
      <mat-grid-tile>3</mat-grid-tile>
      <mat-grid-tile>4</mat-grid-tile>
    </mat-grid-list>
  <!-- <app-post></app-post> -->
  <!-- <app-actorlist></app-actorlist> -->
  <!-- <app-parent></app-parent> -->
  <!-- <app-pipedemo></app-pipedemo> -->

  <router-outlet></router-outlet>
</div>
